<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <title>Ai_Spacedestructor's Item List</title>
    <script type="text/javascript">
        const itemListURL = "https://raw.githubusercontent.com/Spacedestructor/Spacedestructor-Toolkit/master/StoreItems.json";
        const eventListURL = "https://raw.githubusercontent.com/Spacedestructor/Spacedestructor-Toolkit/master/StoreIncidents.json";
    </script>
    <link rel="icon" href="https://static-cdn.jtvnw.net/jtv_user_pictures/097d223a-9924-4bf9-a7e4-08fbbfc97557-profile_image-70x70.png">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Ai_Spacedestructor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.twitch.tv/ai_spacedestructor">Ai_Spacedestructor on Twitch</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">TwitchToolkit</h1>
                <p>TwitchToolkit is a mod written by Twitch.tv/hodlhodl that integrates storytelling decisions into chat votes, awards viewers coins for watching, and those coins can be spent on items/events in game.</p>
                <ul class="list-group">
                    <li class="list-group-item">!bal - Shows how much Coins you have, your Karma and how much you gain every Coin Cycle</li>
                    <li class="list-group-item">!whatiskarma - Explains how Karma works</li>
                    <li class="list-group-item">!purchaselist - Gives you the Link to this Page</li>
                    <li class="list-group-item">!giftcoins - Ussage: !giftcoins username ammount</li>
                    <li class="list-group-item">!joinqueue - Lets you join the Name Queue</li>
                    <li class="list-group-item">!modinfo - Explains the Twitch integration</li>
                    <li class="list-group-item">!buy - Usage: !buy itemname/eventname</li>
                    <li class="list-group-item">!levelskill Usage: !levelskill skillname ammount Keep in mind that Ammount is reffering to how much coins your spending on it not the amount of XP you will get</li>
                    <li class="list-group-item">!modsettings - Shows if Coin gain and the Store are enabled as well as how much Coins you gain, how long a Coin Cycle is and the Karma cap</li>
                    <li class="list-group-item">!instructions - Also explains the Twitch integration but also contains a link to this Page</li>
                    <li class="list-group-item">!allcommands - Shows you a list of all Commands aviable to you, mods will have some extra Commands</li>
                    <li class="list-group-item">!installedmods - Shows you what Mods are currently running. Warning: This WILL generate a Wall of Text in Chat! (16 Messages will be send)</li>
                    <li class="list-group-item">!reviveall - Revives all Dead Colonists</li>
                    <li class="list-group-item">!reviveme - Reives your Colonist</li>
                    <li class="list-group-item">!healme - Heals your Colonist</li>
                    <li class="list-group-item">!healall - Heals all Colonists</li>
                    <li class="list-group-item">!passionshuffle - Shuffles all Passions of the Colonist ammount of Minor and Major Passions Stays the same</li>
                    <li class="list-group-item">!surgery</li>
                    <li class="list-group-item">!addtrait traitname - Adds a Trait to your Colonist</li>
                    <li class="list-group-item">!removetrait traitname - Removes a Trait from your Colonist</li>
                    <li class="list-group-item">!reviveanypawn - Revives a Random Colonist</li>
                    <li class="list-group-item">!healanypawn - Heals a Random Colonist</li>
                    <li class="list-group-item">!replacetrait firsttrait second trait - Replaces the first Trait with the second Trait</li>
                    <li class="list-group-item">!backpack - ???</li>
                    <li class="list-group-item">!removepassion - Removes a Poassion from your Colonist</li>
                    <li class="list-group-item">!addpassion - Adds a Passion to your Colonist</li>
                    <li class="list-group-item">!fullheal - Heals all Injurys of your Colonist</li>
                    <li class="list-group-item">!rescueme - ???</li>
                    <li class="list-group-item">!mypawnkills - Shows the Kill Count of your Colonist</li>
                    <li class="list-group-item">!mypawnstats - Shows Combat related Stats of your Colonist</li>
                    <li class="list-group-item">!mypawnhealth - Shows the Health of your Colonist</li>
                    <li class="list-group-item">!mypawnneeds - Shows the Needs of your Colonist</li>
                    <li class="list-group-item">!mypawngear - Shows the Gear of your Colonist</li>
                    <li class="list-group-item">!mypawnbody - Shows Implants, replaced Body Parts as well as Health conditions of your Colonist</li>
                    <li class="list-group-item">!mypawnwork - Shows the Work priorities of your Colonist</li>
                    <li class="list-group-item">!mypawnstory - Shows the Backstory, Traits and Gender of your Colonist</li>
                    <li class="list-group-item">!mypawnskills - Shows the Skill Level and the Passions of your Colonist</li>
                    <li class="list-group-item">!fixmypawn - If the Twitch integration says your not Linked anymore, this might fix it</li>
                    <li class="list-group-item">!leave - Makes your Colonist leave the Colony without Mood debuff</li>
                    <li class="list-group-item">!mypawnrelations - Shows the Relationships of your Colonist</li>
                    <li class="list-group-item">!factions - Shows a list of all Factions and there Opinion</li>
                    <li class="list-group-item">!research - shows current Research and the Progress</li>
                    <li class="list-group-item">!lookup - Usage: !lookup category name lists the Search results for your category name and item name input</li>
                    <li class="list-group-item">!price - Usage: !price itemname/eventname Shows how much something costs</li>
                    <li class="list-group-item">!insul - ???</li>
                    <li class="list-group-item">!wealth - Shows the Total Wealth of the Colony</li>
                    <li class="list-group-item">!colonists - Shows how many Pawns are in the Colony including dead unburied Colonists</li>
                </ul>
            </div>
        </div>
        <div ng-app='tabs' ng-controller='tabCtrl'>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class='tabs'>
                            <form>
                                <div class="form-group">
                                    <button class="btn btn-success" ng-class="{'active': (selected == '1')}" ng-click='selected=1'>
                                        Items
                                    </button>
                                    <button class="btn btn-success" ng-class="{'active': (selected == '2')}" ng-click='selected=2'>
                                        Events
                                    </button>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="">Price Between:</label>
                                    <div class="col-sm-2">
                                        <input type="number" class="form-control" id="item-price-min" placeholder="0">
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="number" class="form-control" id="item-price-max" placeholder="100000">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show='selected == 1'>
                    <div class="col-md-12">
                        <div id="items">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <p>
                                <button type="button" class="btn btn-primary sort" data-sort="abr">
                                    Sort
                                </button>
                                <button type="button" class="btn btn-primary sort" data-sort="price">
                                    Sort by Price
                                </button>
                            </p>
                            <table class="table items">
                                <tr>
                                    <th scope="col" class="sort" data-sort="abr">Name</th>
                                    <th scope="col" class="sort" data-sort="price">Price</th>
                                    <th scope="col" class="sort" data-sort="category">Category</th>
                                </tr>
                                <tbody class="list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show='selected == 2'>
                    <div class="col-md-12">
                        <div id="events">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <p>
                                <button type="button" class="btn btn-primary sort" data-sort="abr">
                                    Sort
                                </button>
                                <button type="button" class="btn btn-primary sort" data-sort="price">
                                    Sort by Price
                                </button>
                                <button type="button" class="btn btn-primary sort" data-sort="karmatype">
                                    Sort by Karma
                                </button>
                            </p>
                            <table class="table events">
                                <tr>
                                    <th scope="col" class="sort" data-sort="abr">Name</th>
                                    <th scope="col" class="sort" data-sort="price">Price</th>
                                    <th scope="col" class="sort" data-sort="karmatype">Karma</th>
                                </tr>
                                <tbody class="list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <hr>
        </div>
    </main>
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
            <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <style>
        .sort:after {
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
            content: "";
            position: relative;
            top: -10px;
            right: -5px;
        }
        
        .sort.asc:after {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #fff;
            content: "";
            position: relative;
            top: 4px;
            right: -5px;
        }
        
        .sort.desc:after {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #fff;
            content: "";
            position: relative;
            top: -4px;
            right: -5px;
        }
    </style>
    <script type="text/javascript">
        let itemList = null;
        $.getJSON(itemListURL, function(data) {
            var options = {
                valueNames: ['abr', 'price', 'category'],
                item: '<tr><td class="abr" scope="row"></td><td class="price"></td><td class="category"></td></tr>'
            };

            var itemData = [];
            $.each(data.items, function(index, value) {
                if (value["price"] > 0) {
                    itemData.push(value);
                }
            });

            itemList = new List('items', options, itemData);
        });

        let eventList = null;
        $.getJSON(eventListURL, function(data) {
            var options = {
                valueNames: ['abr', 'price', 'karmatype'],
                item: '<tr><td class="abr" scope="row"></td><td class="price"></td><td class="karmatype"></td></tr>'
            };

            var eventData = [];
            $.each(data.incitems, function(index, value) {
                if (value["price"] > 0) {
                    eventData.push(value);
                }
            });

            eventList = new List('events', options, eventData);
        });

        $("#item-price-min").keyup(function() {
            updateItemFilter();
        });

        $("#item-price-max").keyup(function() {
            updateItemFilter();
        });

        function updateItemFilter() {
            var minPrice = $("#item-price-min").val();
            var maxPrice = $("#item-price-max").val();
            itemList.filter(function(item) {
                var allow = true;
                if (minPrice != "" && parseInt(item.values().price) < minPrice) {
                    allow = false;
                }
                if (maxPrice != "" && parseInt(item.values().price) > maxPrice) {
                    allow = false;
                }
                return allow;
            });
	    eventList.filter(function(item) {
                var allow = true;
                if (minPrice != "" && parseInt(item.values().price) < minPrice) {
                    allow = false;
                }
                if (maxPrice != "" && parseInt(item.values().price) > maxPrice) {
                    allow = false;
                }
                return allow;
            });
        }
    </script>
    <script type="text/javascript">
        var tabs = angular.module('tabs', [])
            .controller('tabCtrl', function($scope) {
                $scope.selected = "1";
            });
    </script>
</body>

</html>
